
    <body id="page-top">
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        <img src={{imageUrl1}}>
                        Carti
                        <span class="text-primary">eSports</span>
                    </h1>
                    <div class="subheading mb-5">
                        B7-L14B Yakal Street 2nd Reyville Subdivision, Las Piñas
                        <a href="mailto:name@email.com">cartiesports@email.com</a>
                    </div>
                    <p class="lead mb-5">We are a Experienced Organization or Assosication, Founded at March 2021, Our Region is APAC which is Asia-Pacific and residing at the country of Philippines.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Services</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Active Bootcamp</h3>
                            <div class="subheading mb-3">Carti eSports Organization</div>
                            <p>We offer and bring Bootcamp, where our players get to stay and eat free, it is located at B7-L14B Yakal Street 2nd Reyville Subdivision, Las Piñas.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2021 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Salary</h3>
                            <div class="subheading mb-3">Carti eSports Organization</div>
                            <p>Capitalize on players with supporting them and giving their salaries for Representing our Organization or Team name</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">December 2011 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Supported Expenses Fees</h3>
                            <div class="subheading mb-3">Carti eSports Organization</div>
                            <p>We support Tournament Expenses, provide jersey's and provide Transportational expenses when our players needs to travel or travel expenses</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2021 - Present</span></div>
                    </div>
                </div>
            </section>
            
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Champion - Nvidia Valorant Tournament League Leg 3
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1st Place - HAU TNC Predator League Tournament
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Champion - SIBOL Tournament Valorant National League
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Champion - Valorant Philippines Showdown Tournament
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            8th Place - VCT APAC Philippines Open Qualifiers
                        </li>
                        <img src={{imageUrl}}>
                    </ul>
                </div>
            </section>
        </div>